<div class="container">
    <section id="contact" data-page-title="contact">
        <div class="content">
            <div class="row">
                <div class=" col-md-6">
                    <h2 class="section-title">
                        <span>
                            <i class="fa fa-address-book" aria-hidden="true"></i>LET'S GET IN TOUCH</span>
                    </h2>
                    <div class="me">
                        <h4 class="letter-title">Stephen Kiiru Njau</h4>
                        <div class="stamp">
                            <img src="/assests/images/man.svg" alt="stephen njau">
                        </div>
                        <div class="letter-info">
                            <p>
                                <i class="fa fa-envelope-o"></i>njaustevedomino@gmail.com</p>
                            <p>
                                <i class="fa fa-phone"></i>+254725170462</p>
                            <p>
                                <i class="fa fa-map-marker"></i> 268-0217 Limuru, Kenya</p>
                        </div>
                    </div>
                    <h2 class="section-title">
                        <span>
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>DROP ME A LINE</span>
                    </h2>
                    <div class="contact-form">
                        <form id="contact-form" name="contact.mailerForm" ng-submit= "contact.sendEmail(contact.mailer)" novalidate>
                            <p>
                                <label for="name">NAME</label>
                                <input type="text" name="name" id="name" ng-model= "contact.mailer.name" aria-describedby="name" ng-required="true" >
                                
                            <span ng-show="contact.mailerForm.name.$invalid && !contact.mailerForm.name.$pristine" class="error-block" > * Your name is required</span>
                                
                            </p>
                            <p>
                                <label for="email">EMAIL</label>
                                <input type="email" id="email" name="email" ng-model= "contact.mailer.email" aria-describedby="email"  ng-required="true">
                                <span ng-show="contact.mailerForm.email.$invalid && !contact.mailerForm.email.$pristine" class="error-block" >* Enter a valid email address</span>

                            </p>
                            <p>
                                <label for="message">MESSAGE </label>
                                <textarea id="message" name="message"  ng-model= "contact.mailer.message"  aria-describedby="message"  ng-required="true"></textarea>
                            </p>

                            <p ng-show="mailForm.message.$invalid && !mailForm.message.$pristine" class="error-block"> * Message required.</p>
                            <p style="padding: 0px; margin: 0px;">
                                <inpdisut type="hidden" id="captcha" name="captcha" value="no">
                            </p>
                            <p style="padding: 0px; margin: 0px;">
                                <input type="hidden" id="sender_domain" name="sender_domain" value="">
                            </p>
                            <p style="padding: 0px; margin: 0px;">
                                <input type="hidden" id="subject" name="subject" value="">
                            </p>
                            <p class="submit-button">
                                <input type="submit" class="submit button primary" ng-disabled="contact.mailerForm.$invalid" >
                            </p>
                        </form>
                    </div>
                </div> 
                <div class=" col-md-6">
                    <h2 class="section-title">
                        <span>
                            <i class="fa fa-comments-o" aria-hidden="true"></i>LET'S SOCIALIZE</span>
                    </h2>
                    <div class="links">
                        <ul class="social">
                           
                            <li>
                                <a target="_blank" class="fa fa-twitter" href="https://twitter.com/dominosteve"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-linkedin" href="https://www.linkedin.com/in/stephen-njau-855336ba/"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-google-plus" href="https://plus.google.com/+StephenNjaudomino"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-pinterest" href="https://www.pinterest.com/njausteve/"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-github" href="https://github.com/njausteve"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-dribbble" href="#"></a>
                            </li>
                           
                            <li>
                                <a target="_blank" class="fa fa-skype" href="#"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-youtube" href="https://www.youtube.com/user/njausteve"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa  fa-stack-overflow" href="#"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-foursquare" href="#"></a>
                            </li>
                            <li>
                                <a target="_blank" class="fa fa-medium" href="https://medium.com/@njaustevedomino"></a>
                            </li>

                        </ul>
                    </div>
                    <h2 class="section-title">
                        <span>
                            <i class="fa fa-map-marker"></i>LOCATION</span>
                    </h2>
                    <div class="map">
                        <div id="map-canvas" class="map-canvas">
                            <map class="inner-map" center="[-1.118253, 36.625102]">
                                <marker position="[-1.118253, 36.625102]">
                        </div>
                        </map>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</section>
</div>