<div id="error-page" class="container-fluid">
    <div class="row">
        <div class="col-sm-12  col-md-4  col-lg-5 camel">
            <div class="camel-image">
                <img src="./../../../assests/images/camel-loop.gif" alt="chewing camel" height="" width="90%">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-7 col-xl-5 details">
            <div class="error-details row">
                    <h1 class="">404</h1>
                <div class="error-text col-sm-12 col-md-8 col-lg-8 ">

                    
                    <h2>Oooops</h2>
                    <hr>
                    <h4>We can’t find the page you’re looking for. Please check the URL to make sure the path is correct.</h4>

                    <a class="btn  btn-lg btn-home" ng-click="" role="button">Home</a>

                </div>


            </div>

        </div>
    </div>
</div>