// mixin
@mixin color_number($color) {
    padding: 32px 0px;

    i {
        background: $color;
    }
}

//fonts
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x- ng-cloak {
    display: none !important;
}

p,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}

.no-padding {
    padding: 0px;
}

.center {
    text-align: center;
}

.view {
    overflow-x: hidden;
}

.section-title {
    position: relative;
    margin-bottom: 1em;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;

    span {
        position: relative;
        display: inline-block;
        background: #fff;
        line-height: 19.92px;
        letter-spacing: 1px;
        color: #334455;
        padding-right: 20px;
        text-align: left;

        i {
            border-radius: 50%;
            border: 4px solid #F4F6F7;
            margin-right: 14px;
            color: #B7C6C9;
            line-height: 39px;
            text-align: center;
            width: 47px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: 3px;
        width: 100%;
        border-bottom: 4px solid #f4f6f7;
    }
}

.head {
    background: url("./../images/abstract-mosaic-background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    padding: 2em;

    img {
        border-radius: 50%;

        @media screen and (max-width: 767px) {
            max-height: 120px;
        }
    }

    p {
        font-size: 16px;
        text-align: center;
        padding: 6px 10px;
        border-radius: 3px;
        display: inline-block;
        background-color: #FAF46A;
        color: black;
        opacity: 70%;
        font-style: italic;
        line-height: 16px;
    }

    h1 {
        font-weight: 300;
        font-size: 1.4em;
        line-height: 1.4;
    }

    .nav-container {
        overflow: hidden;

        #nav {
            width: 33.3%;
            max-width: 360px;
            height: 60px;
            position: relative;
            display: block;
            margin: .9em auto 0 auto;
            padding: 0;
            list-style: none;
            line-height: 1.8;

            @media screen and (max-width: 767px) {
                height: 40px;
            }

            li {
                width: 20%;
                visibility: hidden;
                position: absolute;
                width: 100%;
                display: inline-block;
                margin-bottom: 10px;
                text-align: center;
                text-decoration: none;

                a {
                    cursor: default;
                    font-family: Arial, Helvetica, sans-serif;
                    position: relative;
                    text-decoration: none;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.3);
                    font-size: 2.7em;

                    &:hover {
                        color: #CFD7D8;
                    }

                    @media screen and (max-width: 991px) {
                        font-size: 2.4em;
                    }

                    @media screen and (max-width: 767px) {
                        font-size: 170%;
                        letter-spacing: -1px;
                        width: auto;
                    }
                }
            }

            .current-nav {
                left: 0%;
                visibility: visible;
                transition: all linear .5s;

                a {
                    color: #fff !important;
                }
            }

            .right-nav {
                left: 100%;
                visibility: visible;
                transition: all linear .5s;
            }

            .right-nav-outer {
                left: 140%;
                transition: all linear .5s;
            }

            .left-nav {
                transition: all linear .5s;
                visibility: visible;
                left: -100%;
            }

            .left-nav-outer {
                left: -240%;
                transition: all linear .5s;
            }
        }
    }
}

#about-me {
    .intro {
        h2 {
            font-family: 'Lato';
            line-height: 1.4;
            margin: 1em 0 0.6em 0;
            font-size: 32px;
            color: #334455;
            text-align: center;
            font-weight: 300;
            letter-spacing: normal;

            @media screen and (max-width: 767px) {
                font-size: 1.6em;
            }

            .rotateWord {
                display: inline-block;
                text-align: left;
                text-indent: 2px;
                min-width: 180px;
                min-height: 34px;

                @media screen and (max-width: 767px) {
                    min-width: 166px;
                    min-height: 25px;
                    text-indent: 3px;
                }

                span {
                    position: absolute;
                    font-weight: 800;
                    letter-spacing: -1px;
                }
            }

            .swap-animation.ng-leave {
                animation: rotateOutWord .5s linear forwards;
            }

            .swap-animation.ng-enter {
                animation: rotateInWord .5s linear forwards;
            }
        }
    }
}

#latest-tweets {
    ul {
        padding-left: 0px;

        @media screen and (min-width: 767px) {
            padding-left: 40px;
        }

        li {
            list-style: none;
            position: relative;
            margin: 20px 20px 3px 20px;
            padding-top: .1em;
            font-size: 14px;

            // might aplly for other icons
            font-family: FontAwesome;
            font-weight: normal;
            text-align: left;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;

            @media screen and (min-width: 767px) {
                margin: 20px 0 0 0;
            }

            .tweet {
                background-color: #E4F1F6;
                color: #6a7686;
                border-radius: 4px;
                padding: 20px;
            }

            &:before {
                content: "\f099";
                position: absolute;
                top: -24px;
                left: 50%;
                font-size: 36px;
                color: #567;
                margin-left: -16px;
            }

            .timePosted {
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 10px;
                line-height: 18px;
                color: #cccccc;
            }
        }
    }
}

.services {
    text-align: center;

    p {
        font-size: 15px;
        line-height: 24.9px;
        margin-top: .4em;
        color: #96A5A8;
    }

    i {
        display: inline-block;
        width: 86px;
        line-height: 86px;
        font-size: 32px;
        color: #fff;
        border-radius: 50%;
        text-align: center;
    }

    .color1 {
        @include color_number(#f8cb30);
    }

    .color2 {
        @include color_number(#0092DA);
    }

    .color3 {
        @include color_number(#39CCC5);
    }

    .color4 {
        @include color_number(#E25E5B);

        padding: 32px 0px;
    }
}

//  work process section
.work-process {
    img {
        height: 70px;
        margin: 30px auto 15px;
    }

    .arrow {
        height: 20px;
        float: right;
        position: absolute;
        top: 20%;
        right: 0;
    }

    p {
        font-size: 18px;
        font-weight: 400;
    }

    h4 {
        margin-bottom: 32px;
    }
}

#my-works {
    padding: 1em;

    .content {
        @media screen and (min-width: 767px) {
            padding-left: 0px;
            padding-right: 0px;
        }

        .my-Works-nav {
            margin: 30px auto 50px;

            button {
                background: transparent;
                padding: 7px 12px;
                border: 1px solid #DDE4E6;
                border-radius: 4px;
                color: #b8c7ca;

                @media screen and (min-width: 767px) {
                    margin: auto 10px;
                }

                .myWorks {
                    font-family: 'Lato', sans-serif;
                    font-size: 11px;
                    letter-spacing: .1em;
                    margin-top: 30px;
                }

                &:hover {
                    color: #345;
                    border: 1px solid #345;
                    transition: color 0.1s, background-color .2s, border-color .2s;
                }

                &:active {
                    background-color: #345;
                    color: #fff;
                }
            }

            .active-btn {
                background-color: #345 !important;
                color: #fff !important;
                border-color: transparent !important;
            }
        }

        .single-work {
            @media screen and (max-width: 767px) {
                padding: 0px;
            }

            .work {
                border: 1px solid #EAEDEF;
                border-radius: 0 0 4px 4px;
                margin-bottom: 30px;

                .mask {
                    position: relative;

                    img {
                        width: 100%;
                        height: auto;

                        &:hover {
                            opacity: .5;
                        }
                    }

                    &:before {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin: -38px 0 0 -38px;
                        width: 76px;
                        line-height: 76px;
                        font-size: 18px;
                        text-align: center;
                        content: "\f0ca";
                        color: #fff;
                        background: #0092DA;
                        border-radius: 50%;
                        font-family: FontAwesome;
                        font-weight: normal;
                        font-style: normal;
                        display: inline-block;
                        text-decoration: inherit;
                        visibility: hidden;
                        z-index: 100;
                    }

                    &:hover {
                        &:before {
                            visibility: visible;
                        }
                    }
                }

                .work-desc {
                    .title {
                        font-family: 'Lato', sans-serif;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 23.24px;
                        letter-spacing: .03em;
                        color: #334455;
                        padding: 28px 40px;
                    }

                    p {
                        font-size: 13px;
                        letter-spacing: .04em;
                        line-height: 21.58px;
                        color: #a7b6b9;
                    }
                }
            }
        }
    }
}

// resume page
#resume {
    .content {
        padding-top: 2em;
        position: relative;
        margin: auto;
        width: 100%;
        text-align: left;

        @media screen and (max-width: 767px) {
            padding-top: 1em;
        }

        @media screen and (max-width: 767px) {
            padding: 1em 2em;
        }

        .section-title {
            span {
                font-size: 12px;
                line-height: 19.92px;
                letter-spacing: 1px;
            }
        }

        .timeline {
            position: relative;
            padding-left: 112px;
            padding-bottom: 8px;

            @media screen and (max-width: 767px) {
                padding-left: 0;
            }

            h2 {
                position: relative;
                margin-bottom: 2em;
                font-weight: 300;
                font-size: 19px;
                letter-spacing: 1px;
                color: #334455;
                line-height: 31.54px;
                text-align: left;

                .fa {
                    display: block;
                    position: absolute;
                    font-size: 28px;
                    top: -27px;
                    left: -112px;
                    background: #fff;
                    border-radius: 50%;
                    border: 4px solid #f4f6f7;
                    width: 86px;
                    line-height: 78px;
                    margin: 0;
                    z-index: 120;
                    text-align: center;
                    color: #b7c6c9;

                    @media screen and (max-width: 767px) {
                        position: relative;
                        top: auto;
                        left: auto;
                        margin: -12px auto 6px auto;
                        border: 0;
                        line-height: 1;
                    }

                    &:before {
                        margin: 0;
                        display: inline;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }

                @media screen and (max-width: 767px) {
                    text-align: center;
                }
            }

            .event {
                position: relative;
                padding: 1em 2em;
                margin-bottom: 3em;
                background: #fff;
                border: 3px solid #edf1f3;
                border-radius: 6px;

                @media screen and (max-width: 767px) {
                    padding: 16px;
                    margin-top: 104px;

                    &:first-of-type {
                        margin-top: 116px;
                    }

                    &::before {
                        border-width: 0px !important;
                    }

                    &::after {
                        border-width: 0px !important;
                    }
                }

                &::before {
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    border: solid transparent;
                    content: "";
                    height: 0px;
                    width: 0px;
                    pointer-events: none;
                    border-right-color: #edf1f3;
                    border-width: 15px;
                    margin-top: -15px;
                }

                &::after {
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    border: solid transparent;
                    content: "";
                    height: 0px;
                    width: 0px;
                    pointer-events: none;
                    border-right-color: #fff;
                    border-width: 10px;
                    margin-top: -10px;
                }

                .date {
                    font-family: 'Oswald', sans-serif;
                    position: absolute;
                    top: 45%;
                    margin-top: -24px;
                    left: -106px;
                    width: 68px;
                    line-height: 58px;
                    text-align: center;
                    background: #F3BE27;
                    display: block;
                    z-index: 120;
                    color: #fff;
                    border-radius: 50%;
                    border: 5px solid #FFF;
                    font-family: Oswald;
                    font-weight: 400;
                    font-size: 11px;
                    letter-spacing: 1px;

                    @media screen and (max-width: 767px) {
                        top: -64px;
                        left: 50%;
                        margin-left: -32px;
                    }
                }

                p {
                    margin: .6em 0 .2em 0;
                    font-size: 14px;
                    letter-spacing: 0.28px;
                    line-height: 23.24px;
                    color: #334455;

                    &:before {
                        display: block;
                        content: "";
                        position: absolute;
                        top: -30px;
                        left: -72px;
                        height: 160%;
                        width: 4px;
                        background: #F4F6F7;

                        @media screen and (max-width: 767px) {
                            left: 50%;
                            z-index: -1;
                        }
                    }
                }

                h4 {
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 26.56px;
                    color: #334455;
                    margin-bottom: 3px;

                    @media screen and (max-width: 767px) {
                        text-align: center;
                    }
                }

                h5 {
                    margin: 0;
                    padding: 0 0 .3em 0;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #c9d5d6;

                    @media screen and (max-width: 767px) {
                        text-align: center;
                    }
                }

                h6 {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 26.56px;
                    color: #475665;

                    @media screen and (max-width: 767px) {
                        text-align: center;
                    }
                }

                &:last-child {
                    p {
                        &::before {
                            height: 76%;
                        }
                    }
                }
            }
        }
    }

    .skillset {
        padding: 0 0 3.2em 0;

        .skill-unit {
            padding-bottom: 0;

            h4 {
                font-weight: 800;
                font-size: 11px;
                letter-spacing: 1px;
                color: #fff;
                position: relative;
                z-index: 100;
                padding-left: 14px;
                text-transform: uppercase;
                margin: 2em 0 .6em 0;
                margin-bottom: -26px;
            }

            .bar {
                position: relative;
                width: 100%;
                height: 36px;

                .progress {
                    background: #0085CC;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    border-radius: 4px;
                    box-shadow: 4px 4px 0 #e7e7e7;
                    font-size: 16px;
                    line-height: 26.56px;
                }
            }
        }
    }

    .testo-group {
        padding: 1em 0 2em 0;

        .testo {
            position: relative;
            padding: 1.4em 2.2em;
            margin: 0 16px 40px 0;
            background: #eff4f5;
            border-radius: 6px;

            &::before {
                display: block;
                content: "\f10d";
                line-height: 1;
                font-size: 14px;
                padding: 4px 6px;
                position: absolute;
                left: 10px;
                top: 12px;
                color: #fff;
            }

            img {
                display: block;
                float: right;
                max-width: 100px;
                border-radius: 50%;
                margin: -40px -60px 10px 20px;
                border: 8px solid #fff;
                height: auto;
            }

            p {
                position: relative;
                margin: .6em 0 0.2em 0;
                font-size: 14px;
                line-height: 150%;
                color: #6a7686;
            }

            h4 {
                position: relative;
                margin: 0;
                font-weight: 700;
                color: #6A7686;
                font-size: 16px;

                span {
                    display: inline-block;
                    font-size: 11px;
                    letter-spacing: .04em;
                    font-weight: 700;
                    margin-left: 1em;
                    color: #bfc5cd;
                    text-transform: uppercase;
                }
            }
        }
    }

    p {
        margin: 1.2em 0;

        .button {
            display: inline-block;
            position: relative;
            padding: 1.3em 2.6em;
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 1.2;
            border: 0;
            outline: 0;
            background: #fff;
            border: 2px solid #6A7686;
            color: #6A7686;
            text-shadow: none;
            border-radius: 4px;
            text-decoration: none;

            &:hover {
                background: #0085CC;
                color: #fff;
                border-color: #0085cc;
            }

            @media screen and (max-width: 767px) {
                display: block;
                text-align: center;
                background: #0085CC !important;
                color: #fff !important;
                border-color: #0085cc;
            }
        }
    }
}

//contact page
#contact {
    margin: auto;

    .content {
        .section-title {
            span {
                font-size: 12px;
                line-height: 19.92px;
                letter-spacing: 1px;
            }
        }

        .me {
            padding: 1em 0 3em 0;
            overflow: auto;

            .letter-title {
                margin: 0 0 .6em 0;
                font-size: 48px;
                font-weight: 400;
                line-height: 57.6px;
                font-family: 'Tangerine', serif;
                color: #d0dadc;

                @media screen and (max-width: 767px) {
                    text-align: center;
                    font-size: 2.2em;
                }
            }

            .stamp {
                position: relative;
                float: left;
                margin-right: 1.6em;
                width: 114px;
                height: 134px;
                background: url("/assests/images/stamp.png") 0 0 no-repeat;

                @media screen and (max-width: 767px) {
                    float: none;
                    margin: 0 auto 16px auto;
                }

                img {
                    display: block;
                    width: 94px;
                    height: 114px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url("/assests/images/stamp-mask.png") 0 0 no-repeat;
                }
            }

            .letter-info {
                margin-left: 130px;

                @media screen and (max-width: 767px) {
                    margin-left: 0;
                }

                p {
                    margin: 0;
                    font-size: 14px;
                    text-align: left;
                    line-height: 23.24px;
                    color: #334455;

                    i {
                        background-color: #0160A8;
                        display: inline-block;
                        padding: 10px 10px;
                        font-size: 15px;
                        border-radius: 50%;
                        color: #fff;
                        margin: 0 14px 10px 0;
                    }
                }
            }
        }

        .contact-form {
            margin: 1.6em 0 3em 0;
            overflow: auto;

            p {
                margin: 0 0 1.8em 0;
                width: 50%;
                float: left;
                position: relative;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    padding-right: 0 !important;
                }

                &:nth-of-type(1) {
                    padding-right: 32px;
                }

                &:nth-of-type(3) {
                    width: 100%;
                }

                &:nth-of-type(4) {
                    width: 100%;
                }

                input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]) {
                    width: 100%;
                    display: block;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                }

                input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
                textarea,
                select {
                    padding: .8em;
                    width: 262px;
                    max-width: 100%;
                    font-size: 1em;
                    color: #6A7686;
                    border: 2px solid #e9eeee;
                    border-radius: 4px;
                    background: #fff;
                    -webkit-appearance: none;
                    -webkit-tap-highlight-color: transparent;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    width: 100%;
                }

                input[type=submit],
                input[type=button],
                button,
                a.button {
                    display: inline-block;
                    position: relative;
                    padding: 1.3em 2.6em;
                    font-size: 11px;
                    letter-spacing: 1px;
                    font-weight: 800;
                    text-transform: uppercase;
                    line-height: 1.2;
                    border: 0;
                    outline: 0;
                    background: #fff;
                    border: 2px solid #6A7686;
                    color: #6A7686;
                    text-shadow: none;
                    border-radius: 4px;

                    &:hover {
                        background: #0085CC;
                        color: #fff;
                        border-color: #0085cc;
                    }
                }

                textarea {
                    width: 100%;
                    display: block;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                }

                textarea {
                    height: 100px;
                }

                label {
                    display: block;
                    font-size: 10px;
                    margin-bottom: .2em;
                    letter-spacing: 1px;
                    color: #6a7666;
                    text-transform: uppercase;
                }
            }

            &::-webkit-input-placeholder {
                color: rgba(106, 118, 134, 0.4);
            }
        }

        .links {
            .social {
                padding: 0;
                margin: 2em 0 6em 0;
                list-style: none;

                li {
                    display: inline-block;
                    padding: 0;
                    margin-bottom: -3px;

                    a {
                        display: block;
                        float: left;
                        margin: 0 .4em .3em 0;
                        text-align: center;
                        font-size: 20px;
                        width: 42px;
                        line-height: 40px;
                        color: #516075;
                        border-radius: 4px;
                        border: 1px solid #dde4e6;
                        text-decoration: none;
                    }

                    .fa-facebook {
                        &:hover {
                            color: #fff;
                            background: #4267B2;
                        }
                    }

                    .fa-twitter {
                        &:hover {
                            color: #fff;
                            background: #28A9E0;
                        }
                    }

                    .fa-linkedin {
                        &:hover {
                            color: #fff;
                            background: #0B79B8;
                        }
                    }

                    .fa-google-plus {
                        &:hover {
                            color: #fff;
                            background: #D74538;
                        }
                    }

                    .fa-pinterest {
                        &:hover {
                            color: #fff;
                            background: #BF0620;
                        }
                    }

                    .fa-github {
                        &:hover {
                            color: #fff;
                            background: #000;
                        }
                    }

                    .fa-dribbble {
                        &:hover {
                            color: #fff;
                            background: #E84C88;
                        }
                    }

                    .fa-instagram {
                        &:hover {
                            color: #fff;
                            background: #FE7C40;
                        }
                    }

                    .fa-skype {
                        &:hover {
                            color: #fff;
                            background: #0078CA;
                        }
                    }

                    .fa-youtube {
                        &:hover {
                            color: #fff;
                            background: #ED0E11;
                        }
                    }

                    .fa-stack-overflow {
                        &:hover {
                            color: #fff;
                            background: #F48024;
                        }
                    }

                    .fa-foursquare {
                        &:hover {
                            color: #fff;
                            background: #F94877;
                        }
                    }
                }
            }
        }

        .map {
            margin: 1.6em 0 3em 0;
            line-height: 0;
            padding: 8px;
            border: 1px solid #e9eeee;

            .map-canvas {
                height: 342px;
                margin: 0px;
                padding: 0px;
                line-height: 1.6;
                position: relative;
                overflow: hidden;

                .inner-map {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: #e5e3df;

                    .inner-most {
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                        border-width: 0px;
                        margin: 0px;
                        font: 400 11px Roboto, Arial, sans-serif;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// page animation
// .ng-enter {
//     animation: slideInRight 0.5s both ease-out;
//     z-index: 88888;
// }
// .ng-leave {
//     animation: slideInRight 0.5s both ease-out;
//     z-index: 9999;
// } // rotate In and out animations
@keyframes rotateOutWord {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes rotateInWord {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideNavRight {
    to {
        transform: translateX(96%);
    }
}

@keyframes slideNavLeft {
    to {
        left: 100%;
    }
}

.container.vs-move-left .vs-nav-right-outer {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
