.home {
    background-color: burlywood;
    p{
        color: #e2d2ec;

}
}
a {
  transition: transform 2s

}

.test{
     background-color: red;
      transition: transform 5s;
     h2{
         font: 16px;
     } 
}