[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x- ng-cloak {
  display: none !important; }

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif; }

.no-padding {
  padding: 0px; }

.center {
  text-align: center; }

.view {
  overflow-x: hidden; }

.section-title {
  position: relative;
  margin-bottom: 1em;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700; }
  .section-title span {
    position: relative;
    display: inline-block;
    background: #fff;
    line-height: 19.92px;
    letter-spacing: 1px;
    color: #334455;
    padding-right: 20px;
    text-align: left; }
    .section-title span i {
      border-radius: 50%;
      border: 4px solid #F4F6F7;
      margin-right: 14px;
      color: #B7C6C9;
      line-height: 39px;
      text-align: center;
      width: 47px; }
  .section-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 3px;
    width: 100%;
    border-bottom: 4px solid #f4f6f7; }

.head {
  background: url("./../images/abstract-mosaic-background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 2em; }
  .head img {
    border-radius: 50%; }
    @media screen and (max-width: 767px) {
      .head img {
        max-height: 120px; } }
  .head p {
    font-size: 16px;
    text-align: center;
    padding: 6px 10px;
    border-radius: 3px;
    display: inline-block;
    background-color: #FAF46A;
    color: black;
    opacity: 70%;
    font-style: italic;
    line-height: 16px; }
  .head h1 {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.4; }
  .head .navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    max-width: 100%;
    padding: none;
    height: 60px;
    overflow: hidden; }
    .head .navigate li {
      width: 20%; }
      .head .navigate li a {
        text-align: center;
        text-decoration: none;
        font-size: 43.2px;
        letter-spacing: -2px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.3); }
        .head .navigate li a:hover {
          color: #E4F2F4; }
        @media screen and (max-width: 767px) {
          .head .navigate li a {
            font-size: 130%;
            letter-spacing: -1px; } }
    .head .navigate .centerNav a {
      color: #fff !important; }

#about-me .intro h2 {
  line-height: 44.8px;
  font-weight: 300;
  margin: 32px 15px;
  color: #334455;
  text-align: center; }
  #about-me .intro h2 .rotateWord {
    display: inline-block;
    text-align: left;
    text-indent: 4px;
    min-width: 180px;
    min-height: 34px; }
    @media screen and (max-width: 767px) {
      #about-me .intro h2 .rotateWord {
        min-width: 166px; } }
    #about-me .intro h2 .rotateWord span {
      position: absolute;
      font-weight: 800;
      letter-spacing: -1px; }
  #about-me .intro h2 .swap-animation.ng-leave {
    -webkit-animation: rotateOutWord .5s linear forwards;
            animation: rotateOutWord .5s linear forwards; }
  #about-me .intro h2 .swap-animation.ng-enter {
    -webkit-animation: rotateInWord .5s linear forwards;
            animation: rotateInWord .5s linear forwards; }

#latest-tweets ul {
  padding-left: 0px; }
  @media screen and (min-width: 767px) {
    #latest-tweets ul {
      padding-left: 40px; } }
  #latest-tweets ul li {
    list-style: none;
    position: relative;
    margin: 20px 20px 3px 20px;
    padding-top: .1em;
    font-size: 14px;
    font-family: FontAwesome;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit; }
    @media screen and (min-width: 767px) {
      #latest-tweets ul li {
        margin: 20px 0 0 0; } }
    #latest-tweets ul li .tweet {
      background-color: #E4F1F6;
      color: #6a7686;
      border-radius: 4px;
      padding: 20px; }
    #latest-tweets ul li:before {
      content: "\f099";
      position: absolute;
      top: -24px;
      left: 50%;
      font-size: 36px;
      color: #567;
      margin-left: -16px; }
    #latest-tweets ul li .timePosted {
      text-decoration: none;
      letter-spacing: 1px;
      font-size: 10px;
      line-height: 18px;
      color: #cccccc; }

.services {
  text-align: center; }
  .services p {
    font-size: 15px;
    line-height: 24.9px;
    margin-top: .4em;
    color: #96A5A8; }
  .services i {
    display: inline-block;
    width: 86px;
    line-height: 86px;
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    text-align: center; }
  .services .color1 {
    padding: 32px 0px; }
    .services .color1 i {
      background: #f8cb30; }
  .services .color2 {
    padding: 32px 0px; }
    .services .color2 i {
      background: #0092DA; }
  .services .color3 {
    padding: 32px 0px; }
    .services .color3 i {
      background: #39CCC5; }
  .services .color4 {
    padding: 32px 0px;
    padding: 32px 0px; }
    .services .color4 i {
      background: #E25E5B; }

.work-process img {
  height: 70px;
  margin: 30px auto 15px; }

.work-process .arrow {
  height: 20px;
  float: right;
  position: absolute;
  top: 20%;
  right: 0; }

.work-process p {
  font-size: 18px;
  font-weight: 400; }

.work-process h4 {
  margin-bottom: 32px; }

#my-works .my-Works-nav {
  margin: 30px auto 50px; }
  #my-works .my-Works-nav button {
    background: transparent;
    padding: 7px 12px;
    border: 1px solid #DDE4E6;
    border-radius: 4px;
    color: #b8c7ca; }
    @media screen and (min-width: 767px) {
      #my-works .my-Works-nav button {
        margin: auto 10px; } }
    #my-works .my-Works-nav button .myWorks {
      font-family: 'Lato', sans-serif;
      font-size: 11px;
      letter-spacing: .1em;
      margin-top: 30px; }
    #my-works .my-Works-nav button:hover {
      color: #345;
      border: 1px solid #345;
      -webkit-transition: color 0.1s, background-color .2s, border-color .2s;
      transition: color 0.1s, background-color .2s, border-color .2s; }
    #my-works .my-Works-nav button:active {
      background-color: #345;
      color: #fff; }
  #my-works .my-Works-nav .active-btn {
    background-color: #345 !important;
    color: #fff !important;
    border-color: transparent !important; }

#my-works .work {
  border: 1px solid #EAEDEF;
  border-radius: 0 0 4px 4px;
  margin-bottom: 30px; }
  #my-works .work .mask img {
    width: 100%;
    height: auto; }
    #my-works .work .mask img:hover {
      opacity: .5; }
  #my-works .work .work-desc .title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 23.24px;
    letter-spacing: .03em;
    color: #334455;
    padding: 28px 40px; }
  #my-works .work .work-desc p {
    font-size: 13px;
    letter-spacing: .04em;
    line-height: 21.58px;
    color: #a7b6b9; }

@-webkit-keyframes rotateOutWord {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); } }

@keyframes rotateOutWord {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); } }

@-webkit-keyframes rotateInWord {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes rotateInWord {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes slideNavRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(96%);
            transform: translateX(96%); } }

@keyframes slideNavRight {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(96%);
            transform: translateX(96%); } }

@-webkit-keyframes slideNavleft {}

@keyframes slideNavleft {}

/*# sourceMappingURL=main.css.map */
