<section id="about-me">
    <div class="content container">
        <div class="row">
            <!--about me section-->
            <div class="col-8">
                <h2 class="section-title">
                    <span>
                         <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                     </span> A little about me.
                </h2>
                <div class="intro">
                    <h2>
                        Hello i am
                        <span class="rotate-words" >  
                              interested in human behaviour      
                            </span>
                        <br> Lorem isum dolor sit amet, consectetur adipisicing elit. Suscipit incidunt, voluptatem harum
                        debitis repudiandae. Accusantium veritatis optio omnis magni sapiente <strong>laboriosam </strong>                        rerum vitae, sequi minima nihil quaerat, et animi, repellendus.
                    </h2>
                </div>
            </div> <!--endof: about me section-->
            <div class="col-4"><!--latest tweet section-->
                <h2 class="section-title">
                    <span>
                         <i class="fa fa-twitter" aria-hidden="true"></i>
                     </span> latest tweets.
                </h2>
            </div> <!--endof: latest tweet section-->
      </div>
            <div class="col-">  <!--services section-->
                <h2 class="section-title">
                    <span>
                         <i class="fa fa-magic" aria-hidden="true"></i>
                     </span> Services.
                </h2>
            </div> <!--endof: about me section-->
            <div class="col-4">  <!--work process section-->
                <h2 class="section-title">
                    <span>
                         <i class="fa fa-tasks" aria-hidden="true"></i>
                     </span> work process.
                </h2>
            </div> <!--endof: work process section-->
            <div class="col-4">  <!--funfact section-->
                <h2 class="section-title">
                    <span>
                         <i class="fa fa-smile-o" aria-hidden="true"></i>
                     </span> funfact.
                </h2>
            </div> <!--endof: about me section-->
        </div>

</section>