<div class="container-fluid">
    <section id="resume" data-page-title="resume">
        <div class="content">
            <div class="row">
                <div class=" col-md-6">
                    <!-- work section -->
                    <div class="timeline">
                        <h2><i class="fa fa-flask" aria-hidden="true"></i>WORK HISTORY</h2>
                        <div class="event current" ng-repeat="job in resume.work"><span class="date">{{job.year}}</span>
                            <p></p>
                            <h4>{{job.title}}</h4>
                            <h5>{{job.company}}</h5>
                            <p>{{job.desc}}</p>
                            <h6>{{job.location[0]}}</h6>
                        </div>
                    </div>
                    <!-- endof: work section -->
                    <!-- education section -->
                    <div class="timeline">
                        <h2><i class="fa fa-graduation-cap " aria-hidden="true"></i>EDUCATION HISTORY</h2>
                        <div class="event " ng-repeat="edu in resume.education"><span class="date">{{edu.year}}</span>
                            <p></p>
                            <h4>{{edu.course}}</h4>
                            <h5>{{edu.institution}}</h5>
                            <p>{{edu.desc}}</p>
                        </div>
                    </div>
                </div>
                <!-- end of: education section -->
                <div class=" col-md-6">
                    <h2 class="section-title"><span><i class="fa fa-cog" aria-hidden="true"></i>DEVELOPMENT SKILLS</span></h2>
                    <div class="skillset">
                        
                            <div class="skill-unit" ng-repeat="skill in resume.devSkills">
                                <h4>{{skill.skill}}</h4>
                                <div class="bar" data-percent="">
                                    <div class="progress" style="width: {{skill.level}}%;"></div>
                                </div>
                            </div>     
                        
                    </div>
                    <h2 class="section-title"><span><i class="fa fa-paint-brush"></i>DESIGN SKILLS</span></h2>
                    <div class="skillset">
                        <div class="skill-unit">
                            <h4>FIREWORKS</h4>
                            <div class="bar" data-percent="90">
                                <div class="progress" style="width: 90%;"></div>
                            </div>
                        </div>
                        <div class="skill-unit">
                            <h4>PHOTOSHOP</h4>
                            <div class="bar" data-percent="60">
                                <div class="progress" style="width: 60%;"></div>
                            </div>
                        </div>
                        <div class="skill-unit">
                            <h4>ILLUSTRATOR</h4>
                            <div class="bar" data-percent="40">
                                <div class="progress" style="width: 40%;"></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="section-title"><span><i class="fa fa-comment-o"></i>TESTIMONIALS</span></h2>
                    <div class="testo-group">
                        <div class="testo" ng-repeat="testimony in resume.testimonials"><img alt="PHILLIP AUSTIN" src="http://themes.pixelwars.org/cvcard-wp/wp-content/uploads/2014/04/testo-01.jpg">
                            <p></p>
                            <h4>{{testimony.name | uppercase}}<span>{{testimony.company | uppercase}}</span></h4>
                            <p>{{testimony.testimony}}</p>
                        </div>
                
                    </div>
                    <h2 class="section-title"><span><i class="fa fa-file"></i>DOWNLOAD MY CV</span></h2>
                    <p>You can download my CV in pdf format if you like. I create usable web interfaces, front end coding stuff
                        and almost anything. But i love what i do.</p>
                    <p><a class="button btn-resume primary" href="https://drive.google.com/file/d/1CqkB7LPB9MPxLVH_KBnwLUK0i3F54C1Q/view?usp=sharing"
                            target="_blank"> DOWNLOAD CV</a></p>
                    <p>&nbsp;</p>
                    <h2 class="section-title"><span><i class="fa fa-linkedin"></i>VIEW MY LINKEDIN PROFILE</span></h2>
                    <p>You can view my LinkedIn profile. I currently work for Pixelwars creative studio. I create usable web
                        interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                    <p><a class="button btn-resume  primary  " href="{{resume.linkedin}}" target="_blank">MY LINKEDIN PROFILE</a></p>
                </div>
            </div>
        </div>
    </section>
</div>